<div class="container">
  <h1>Create your new list</h1>

  <%= render "form", list: @list %>

  <br>

  <div>
    <%= link_to "Back to lists", lists_path, class: "btn btn-sm btn-primary" %>
  </div>
</div>
