<div class="container">
  <h1>Create a bookmark</h1>

  <%= render "form", bookmark: @bookmark %>

  <br>

  <%= link_to 'Back to Lists', root_path, class: 'btn btn-sm btn-primary text-center'%>
</div>
