#banner {
  background-image: url(https://static.cinepolis.com/marcas/vip/imagenes/instalaciones/1/2014910165045641.jpg);
  background-position: cover;
  background-size: cover;
  border-radius: 4px;
  color: #2d3f31;
  width: 100vw;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 12px rgba(171, 177, 140, 0.7);
  h1{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    font-size: 40px;
    color: #dfdfdf;
    text-shadow: 1px 1px 1px #486056;
  }
}
