// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "form_legend_clear";
@import "navbar";

.page-container {
  margin: 0 auto;
}

#links-container {
  margin-bottom: 28px;
}

.my-list {
  margin: 12px;
  color: #486056;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}

#lists-container {
  h3 {
    font-family: Arial, Helvetica, sans-serif;
  }
}

.show-body{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.show-container {
  flex: 0.8;
}

.create-body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.create-content {
  flex: 0.8;
  padding: 16px;
  h1 {
    color: #486056;
  }
}

.page-container {
  background-image: url('https://img.freepik.com/vetores-gratis/padrao-sem-emenda-com-elementos-do-cinema_225004-1154.jpg?size=626&ext=jpg');
  background-position: cover;
  background-size: cover;position: absolute;
}

.page-container::before {
  background-image: url('https://img.freepik.com/vetores-gratis/padrao-sem-emenda-com-elementos-do-cinema_225004-1154.jpg?size=626&ext=jpg');
  opacity: 0.5;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.subtitle {
  color: #2d3b35;
  font-weight: bolder;
  text-shadow:
  -2px -2px 0 #d6d6d6, /* Sombra superior esquerda */
  2px -2px 0 #a8a8a8, /* Sombra superior direita */
 -2px  2px 0 #d6d6d6, /* Sombra inferior esquerda */
  2px  2px 0 #a8a8a8;
}
